## .gitignore ##
# ignore all
*
*/

# allow any
!/src
!/src/
!/gradle
!/gradle/
!/lib
!/lib/
!/build.gradle
!/settings.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/install.bat
!/build.bat
!/.gitignore
!/LICENSE
!/BnnWidget

/src/main/resources/file.eew